html, body {
  background-color: #21232A;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 12px;
  background-color: #fff;
  margin-right: 5px;
}